/Pertemuan8/MembershipORM/nbproject/private/
/Pertemuan8/MembershipORM/build/
/Pertemuan12/jvc-mvc/nbproject/private/
/StudiKasus/jvc-mvc/nbproject/private/
/StudiKasus/jvc-mvc/build/
/pertemuan13/pertemuan13/MainFrame/build/
/pertemuan13/pertemuan13/MainFrame/nbproject/private/
/Pertemuan13/Pertemuan13/nbproject/private/
/New folder/Pertemuan13/nbproject/private/
/Pertemuan13/Pertemuan13/build/
/Pertemuan13/jvc-mvc/nbproject/private/
/Pertemuan13/jvc-konkurensi/jvc-konkurensi/nbproject/private/
/Pertemuan13/jvc-konkurensi/jvc-konkurensi/build/
